*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.7;
  color: #474f51; }

.heading-primary {
  color: #fff;
  backface-visibility: hidden;
  font-size: 4.95rem;
  font-weight: 300; }

.heading-secondary {
  font-size: 3.6rem;
  font-weight: 200;
  line-height: 4.5rem;
  color: #fff;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.75); }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.border-image {
  display: inline-block;
  background-image: url(../img/bg04.png);
  background-color: #fff;
  background-repeat: repeat;
  padding: 1rem 1rem 0 1rem;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.15); }
  .border-image__img {
    display: inline-block;
    width: auto;
    height: 100%; }

.btn:link, .btn:visited {
  display: inline-block;
  padding: 0.5rem 4.5rem;
  outline: 0;
  border-radius: 10px;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.75), inset 0px 2px 0px 0px rgba(255, 192, 192, 0.5), inset 0px 0px 0px 2px rgba(255, 96, 96, 0.85), 3px 3px 3px 1px rgba(0, 0, 0, 0.15);
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to top, #ce1a00, #ed391b);
  color: #fff;
  font-size: 3.15rem;
  text-decoration: none; }

.btn:hover {
  color: #fff;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.75), inset 0px 2px 0px 0px rgba(255, 192, 192, 0.5), inset 0px 0px 0px 2px rgba(255, 96, 96, 0.85), 3px 3px 3px 1px rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(to top, #de2a10, #fd492b); }

.btn:active {
  color: #fff;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.75), inset 0px 2px 0px 0px rgba(255, 192, 192, 0.5), inset 0px 0px 0px 2px rgba(255, 96, 96, 0.85), 3px 3px 3px 1px rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(to top, #ed391b, #ce1a00); }

.card {
  padding: 4.5rem 0; }
  .card__image {
    margin-bottom: 2.7rem; }
  .card__heading {
    font-size: 22.5px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 0.56rem; }
  .card__paragraph--white {
    color: #fff; }
  .card__link:link, .card__link:visited {
    text-decoration: underline;
    color: #fff; }
  .card__link:hover, .card__link:active {
    text-decoration: none; }

.content-card {
  background-color: #fff;
  padding: 4rem 3rem 4.5rem 3rem;
  margin: 4.5rem 0;
  box-shadow: 2px 2px 2px 1px rgba(128, 128, 128, 0.1);
  max-height: 50rem; }
  .content-card__primary-heading {
    color: #373f42;
    font-size: 3.24rem;
    font-weight: 300;
    margin-bottom: 0.41rem; }
  .content-card__secondary-heading {
    color: #96a9b5;
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: 3.6rem; }
  .content-card__img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 3.6rem; }
  .content-card__list {
    list-style-type: none;
    font-size: 2.16rem;
    line-height: 3.33rem; }
  .content-card__item:not(:first-child) {
    padding-top: calc(2rem*0.7); }
  .content-card__item:not(:last-child) {
    padding-bottom: calc(2rem*0.7);
    border-bottom: solid 1px #e2e6e8; }
  .content-card__item--check {
    padding-left: 4.5rem;
    background-image: url("../img/icon-checkmark.png");
    background-repeat: no-repeat;
    background-position-y: 2.26833rem; }
    .content-card__item--check:first-child {
      background-position-y: 6.48333px; }
  .content-card__item--quote:not(:first-child) {
    padding-top: calc(2.5rem*0.7); }
  .content-card__item--quote:not(:last-child) {
    padding-bottom: calc(2.5rem*0.7); }

.quote::after {
  content: "";
  display: table;
  clear: both; }

.quote__heading {
  font-size: 2.16rem;
  font-style: italic;
  font-weight: 300; }

.quote__name {
  font-size: 1.62rem;
  font-weight: 500; }

.quote__img {
  width: auto;
  height: auto;
  float: left;
  margin-right: 2rem; }

.row {
  max-width: 120rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 0rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
  .row .col-1-of-2 {
    width: calc((100% - 2rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 2rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 2rem) / 3) + 2rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 2rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 2rem) / 4) + 2rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 2rem) / 4) + 2 * 2rem); }

.header {
  height: auto;
  background-image: url(../img/bg01.jpg);
  background-repeat: repeat-x;
  border-bottom: solid 1px #272d30;
  box-shadow: inset 0px -1px 0px 0px #51575a;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.75); }
  .header__content {
    position: relative;
    height: 14rem; }
  .header__banner {
    border-top: solid 1px #222628;
    box-shadow: inset 0px 1px 0px 0px #3e484a;
    max-width: 100vw; }
  .header .row {
    margin-bottom: 0; }
  .header__logo:link, .header__logo:visited {
    text-decoration: none;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%); }
  .header__logo:hover, .header__logo:active {
    color: #fff; }
  .header__navigation {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%); }
  .header__list {
    list-style-type: none;
    font-size: 2.52rem;
    font-weight: 200; }
  .header__link {
    float: left; }
    .header__link:not(:first-child) {
      margin-left: 6rem; }
    .header__link a:link,
    .header__link a:visited {
      color: #c6c8c8;
      text-decoration: none;
      transition: .1s; }
    .header__link a:hover,
    .header__link a:active {
      color: #f6f8f8; }
  .header__banner {
    padding: 3.5rem 0; }
  .header .heading-secondary {
    margin-bottom: 3.6rem; }

body {
  background: #D4D9DD url("../img/bg03.jpg"); }

.section-features {
  background: #353D40 url("../img/bg02.jpg");
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.75);
  color: #a0a8ab; }

.section-content {
  background: #f7f7f7 url("../img/bg04.png"); }
