// COLORS
$color-white: #fff;

$color-black: #000;

$color-dark-grey: #222628;
$color-dark-grey-2: #272d30;

$color-grey: #474f51;
$color-grey-2: #3e484a;
$color-grey-3: #51575a;

$color-grey-light: #c6c8c8;
$color-grey-light-2: #f6f8f8;

$color-red: #ed391b;
$color-red-2: #ce1a00;
$color-red-3: #fd492b;
$color-red-4: #de2a10;

$color-red-light: rgb(255, 96, 96);

$color-pink: rgb(255, 192, 192);

// FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 120rem;
$gutter-vertical: 0rem;
$gutter-horizontal: 6rem;

//OTHERS
$default-content-width: 120rem;