.header {
    height: auto;
    background-image: url(../img/bg01.jpg);
    background-repeat: repeat-x;
    text-shadow: -1px -1px 1px rgba($color-black, 0.75);

    &__content {
        position: relative;
        height: 14rem;
    }

    &__banner {
        border-top: solid 1px $color-dark-grey;
        box-shadow: inset 0px 1px 0px 0px $color-grey-2;
        max-width: 100vw;
    }

    & .row {
        margin-bottom: 0;
    }

    &__logo {
        &:link,
        &:visited {
            text-decoration: none;
            color: $color-white;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }

        &:hover,
        &:active {
            color: $color-white;
        }
    }

    &__navigation {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

    &__list {
        list-style-type: none;
        font-size: 2.52rem;
        font-weight: 200;
    }

    &__link {
        float: left;

        &:not(:first-child) {
            margin-left: 6rem;
        }

        & a:link,
        & a:visited {
            color: #c6c8c8;
            text-decoration: none;
            transition: .1s;
        }

        & a:hover,
        & a:active {
            color: #f6f8f8;
        }
    }

    &__banner {
        padding: 3.5rem 0;
    }

    & .heading-secondary {
        margin-bottom: 3.6rem;
    }
}