.header {
    height: 14rem;
    background-image: url(../img/bg01.jpg);
    background-repeat: repeat-x;

    &__content {
        width: $default-content-width;
        margin: 0 auto;
        position: relative;
        height: 100%;
        text-shadow: -1px -1px 1px rgba($color-black, 0.75);
    }

    &__logo {
        &:link,
        &:visited {
            text-decoration: none;
            color: $color-white;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }

        &:hover,
        &:active {
            color: $color-white;
        }
    }

    &__navigation {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

    &__list {
        list-style-type: none;
        font-size: 2.52rem;
        font-weight: 200;
    }

    &__link {
        float: left;

        &:not(:first-child) {
            margin-left: 6rem;
        }

        & a:link,
        & a:visited {
            color: #c6c8c8;
            text-decoration: none;
            transition: .1s;
        }

        & a:hover,
        & a:active {
            color: #f6f8f8;
        }
    }
}