.content-card {
    background-color: $color-white;
    padding: 4rem 3rem 4.5rem 3rem;
    margin: 4.5rem 0;
    box-shadow: 2px 2px 2px 1px rgba($color-dark-grey-3, 0.1);
    height: 50.3867rem;

    &__primary-heading {
        color: $color-grey-5;
        font-size: 3.24rem;
        font-weight: 300;
        margin-bottom: 0.41rem;
    }

    &__secondary-heading {
        color: $color-blue-grey;
        font-size: 2.25rem;
        font-weight: 300;
        margin-bottom: 3.6rem;
    }

    &__img {
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 3.6rem;
    }

    &__list {
        list-style-type: none;
        font-size: 2.16rem;
        line-height: 3.33rem;
    }
    
    &__item {
        padding-left: 4.5rem;
        background-image: url("../img/icon-checkmark.png");
        background-repeat: no-repeat;
        background-position-y: 2.26833rem;

        &:not(:first-child) {
            padding-top: calc(2rem*0.7);
        }

        &:not(:last-child) {
            padding-bottom: calc(2rem*0.7);
            border-bottom: solid 1px $color-grey-light-6;
        }

        &:first-child {
            background-position-y: 6.48333px;
        }
    }
}