.quote {
    @include clearfix;

    &__heading {
        font-size: 2.16rem;
        font-style: italic;
        font-weight: 300;
    }

    &__name {
        font-size: 1.62rem;
        font-weight: 500;
    }

    &__img {
        width: auto;
        height: auto;
        float: left;
        margin-right: 2rem;
    }
}